<form action="/posts" method="post">
  <input type="text" name="url" placeholder="Enter url...">
  <input type="text" name="title" placeholder="Enter title...">
  <input type="submit" value="Submit">
</form>
