<form action="/links/<%= @link.id %>/update" method="post">
  <input type="text" name="url" value="<%= @link.url %>">
  <input type="text" name="title" value="<%= @link.title %>">
  <input type="submit" value="Update">
</form>
